* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --animate-delay: 0.2s;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100;
}

.nav-bar .wrapper {
  width: 90%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-bar .wrapper .logo {
  width: 120px;
}

.nav-bar .wrapper .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #cee5ff;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  display: none;
}

.nav-bar .wrapper .menu li {
  margin: 20px;
}

.nav-bar .wrapper .menu li a {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.nav-bar .wrapper .menu-fade {
  opacity: 1;
  pointer-events: all;
}

.nav-bar .wrapper div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .wrapper div:last-child p {
  display: none;
}

.nav-bar .wrapper div:last-child .login-btn {
  padding: 10px 15px;
  background: #40e0bc;
  border-radius: 15px;
  color: black;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .wrapper div:last-child .login-btn .fa {
  margin-right: 10px;
  font-size: 1.1rem;
}

.nav-bar .wrapper div:last-child .menu-btn {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 20px;
  z-index: 10;
  display: none;
}

.nav-bar .wrapper div:last-child .menu-btn span {
  width: 90%;
  border: 1px solid;
  border-radius: 30%;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: opacity 300ms linear, -webkit-transform 300ms linear;
  transition: opacity 300ms linear, -webkit-transform 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear, -webkit-transform 300ms linear;
}

.nav-bar .wrapper div:last-child .menu-btn .top-rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-bar .wrapper div:last-child .menu-btn .middle-fade {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.nav-bar .wrapper div:last-child .menu-btn .bottom-rotate {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  .nav-bar .wrapper div:last-child p {
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .nav-bar .wrapper .logo {
    width: 200px;
  }
  .nav-bar .wrapper .menu {
    position: static;
    background: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    opacity: 1;
    display: none;
  }
  .nav-bar .wrapper .menu li {
    margin: 0 15px;
  }
  .nav-bar .wrapper .menu li a {
    color: black;
    font-size: 1rem;
    font-weight: normal;
    pointer-events: all;
  }
  .nav-bar .wrapper div:last-child .login-btn {
    padding: 10px 20px;
  }
  .nav-bar .wrapper div:last-child .menu-btn {
    display: none;
  }
}

.banner {
  padding: 100px 0;
  background: #cee5ff;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(184, 217, 255, 0.753)), to(rgba(255, 255, 255, 0.753))), url(../images/pexels-elly-fairytale-3807571.jpg);
  background: linear-gradient(to top, rgba(184, 217, 255, 0.753), rgba(255, 255, 255, 0.753)), url(../images/pexels-elly-fairytale-3807571.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .wrapper .banner-content .title {
  font-size: 2.6rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.banner .wrapper .banner-content .caption {
  font-size: 1.3rem;
}

.banner .wrapper .banner-content .call-button {
  padding: 10px 20px;
  border-radius: 15px;
  background: #40e0bc;
  margin-top: 20px;
  font-size: 1rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: bold;
  -webkit-box-shadow: 0 0 0px #40e0bc;
          box-shadow: 0 0 0px #40e0bc;
  -webkit-animation: bg-wave 1500ms ease;
          animation: bg-wave 1500ms ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.banner .wrapper .banner-content .call-button i {
  font-size: 1.5rem;
  margin-right: 10px;
}

@-webkit-keyframes bg-wave {
  0% {
    -webkit-box-shadow: 0 0 0 0px #40e0bc;
            box-shadow: 0 0 0 0px #40e0bc;
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px transparent;
            box-shadow: 0 0 0 10px transparent;
  }
  100% {
    -webkit-box-shadow: 0 0 0  10px transparent;
            box-shadow: 0 0 0  10px transparent;
  }
}

@keyframes bg-wave {
  0% {
    -webkit-box-shadow: 0 0 0 0px #40e0bc;
            box-shadow: 0 0 0 0px #40e0bc;
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px transparent;
            box-shadow: 0 0 0 10px transparent;
  }
  100% {
    -webkit-box-shadow: 0 0 0  10px transparent;
            box-shadow: 0 0 0  10px transparent;
  }
}

.banner .wrapper .banner-img {
  margin-top: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.banner .wrapper .banner-img img {
  width: 100%;
}

.banner .wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.custom-shape-divider-bottom-1603101917 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1603101917 svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 73px;
}

.custom-shape-divider-bottom-1603101917 .shape-fill {
  fill: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .banner .wrapper .banner-content {
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .banner .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .banner .wrapper .banner-img {
    margin: 0;
    width: 50%;
  }
  .banner .wrapper .banner-content {
    width: 40%;
  }
  .banner .wrapper .banner-content .caption {
    width: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .banner {
    padding: 150px 0 200px;
  }
  .banner .wrapper .banner-content .title {
    font-size: 4rem;
  }
  .banner .wrapper .banner-content .call-button {
    padding: 15px 35px;
    border-radius: 30px;
  }
}

.partners {
  padding: 50px 0;
}

.partners .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.partners .wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners .wrapper img {
  width: 120px;
}

@media only screen and (min-width: 768px) {
  .partners .title {
    font-size: 1.8rem;
  }
  .partners .wrapper img {
    width: 140px;
  }
}

@media only screen and (min-width: 1200px) {
  .partners .wrapper img {
    margin: 0 40px;
  }
}

.services-two {
  padding: 50px 0;
}

.services-two .title {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.services-two .wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.services-two .wrapper .bg-cover-card {
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .services-two .title {
    font-size: 2.5rem;
  }
  .services-two .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services-two .wrapper .bg-cover-card {
    margin: 20px;
  }
}

.what-we-do {
  padding: 100px 0;
  background: rgba(255, 242, 219, 0.938);
  position: relative;
}

.what-we-do .wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.what-we-do .wrapper .what-we-do-content .title {
  font-size: 2.6rem;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.what-we-do .wrapper .what-we-do-content .caption {
  font-size: 0.9rem;
  line-height: 1.8;
}

.what-we-do .wrapper .what-we-do-content .learn-more {
  color: blue;
  margin-top: 20px;
  display: block;
}

.what-we-do .wrapper .what-we-do-content .learn-more .fa {
  font-size: .8rem;
  margin-left: 10px;
}

.what-we-do .wrapper .what-we-do-img {
  margin-bottom: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.what-we-do .wrapper .what-we-do-img img {
  width: 100%;
}

.custom-shape-divider-bottom-1603102199 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1603102199 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 64px;
}

.custom-shape-divider-bottom-1603102199 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-top-1603102337 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1603102337 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 64px;
}

.custom-shape-divider-top-1603102337 .shape-fill {
  fill: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .what-we-do .wrapper .what-we-do-content {
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .what-we-do .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .what-we-do .wrapper .what-we-do-img {
    margin: 0;
    width: 50%;
  }
  .what-we-do .wrapper .what-we-do-content {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .what-we-do {
    padding: 150px 0;
  }
  .what-we-do .wrapper .what-we-do-content .title {
    font-size: 4rem;
  }
}

.services {
  padding: 100px 0;
}

.services .title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.services .wrapper {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
}

.services .wrapper .service-card {
  width: 250px;
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin: 20px 0;
}

.services .wrapper .service-card .card-img {
  width: 50%;
}

.services .wrapper .service-card .card-img img {
  width: 100%;
}

.services .wrapper .service-card .card-content {
  margin-top: 20px;
}

.services .wrapper .service-card .card-content .card-title {
  font-size: 1.2rem;
}

.services .wrapper .service-card .card-content .description {
  margin: 10px 0;
  color: gray;
  font-size: 0.9rem;
  line-height: 1.5;
}

.services .wrapper .service-card .card-content .link {
  font-size: 0.9rem;
  color: blue;
}

.services .wrapper .service-card .card-content .link i {
  font-size: 0.7rem;
  color: blue;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .services .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .services .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
  }
}

.bg-cover-card {
  width: 100%;
  height: 310px;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-cover-card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
  color: white;
}

.bg-cover-card .card-content .post-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 5px 0;
  line-height: 1.4;
  font-weight: normal;
}

.bg-cover-card .card-content .post-details {
  font-size: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

.bg-cover-card .card-content .post-details .item {
  margin-right: 15px;
}

.bg-cover-card .card-content .category {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 10px;
  border-radius: 15px;
}

.bg-cover-card .card-content .category span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
}

@media (min-width: 576px) {
  .bg-cover-card {
    max-width: 270px;
  }
}

.articles {
  padding: 50px 0;
}

.articles .title {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Acme', sans-serif;
  margin-bottom: 20px;
}

.articles .wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.articles .wrapper .article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px #b6b6b6;
          box-shadow: 0 0 3px #b6b6b6;
  margin: 20px 0;
}

.articles .wrapper .article-card .article-img {
  height: 200px;
  border-radius: 10px;
}

.articles .wrapper .article-card .card-content {
  margin-top: 20px;
}

.articles .wrapper .article-card .card-content .card-title {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.3;
}

.articles .wrapper .article-card .card-content .description {
  font-size: .9rem;
  color: gray;
  margin: 15px 0;
}

.articles .wrapper .article-card .card-content .author {
  font-size: .9rem;
  color: gray;
}

.articles .wrapper .article-card .card-content .author span {
  color: blue;
}

@media only screen and (min-width: 768px) {
  .articles {
    padding: 100px 0;
  }
  .articles .title {
    margin-bottom: 40px;
  }
  .articles .wrapper .article-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articles .wrapper .article-card .article-img {
    width: 150px;
    height: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .articles .wrapper .article-card .card-content {
    margin: 0;
    margin-left: 20px;
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .articles .title {
    font-size: 2.5rem;
  }
}

.about-founder {
  padding: 150px 0 100px;
  background: #491ee4;
  position: relative;
}

.about-founder .wrapper {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.about-founder .wrapper .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  width: 100%;
  left: 0;
}

.about-founder .wrapper .slide:first-child {
  position: relative;
}

.about-founder .wrapper .founder-img {
  width: 100px;
  height: 100px;
  border: 8px solid white;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}

.about-founder .wrapper .founder-quote {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.about-founder .wrapper .name {
  font-size: 1.5rem;
  margin: 30px 0 5px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.925);
  font-weight: bold;
}

.about-founder .wrapper .role {
  color: rgba(218, 218, 218, 0.699);
  width: 100%;
  text-align: center;
}

.custom-shape-divider-top-1603102849 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1603102849 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 118px;
}

.custom-shape-divider-top-1603102849 .shape-fill {
  fill: #FFFFFF;
}

@media only screen and (min-width: 992px) {
  .about-founder .wrapper .founder-quote {
    font-size: 1.5rem;
  }
  .about-founder .wrapper .founder-img {
    width: 180px;
    height: 180px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-founder .wrapper {
    max-width: 800px;
  }
  .about-founder .wrapper .founder-quote {
    font-size: 1.8rem;
    font-weight: normal;
  }
}

.free-trail {
  padding: 50px 0;
  background: #e2e2e2;
}

.free-trail .wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.free-trail .wrapper .content .title {
  font-size: 2rem;
  font-weight: bold;
}

.free-trail .wrapper .content .description {
  color: #2f2fa3;
  margin-top: 20px;
}

.free-trail .wrapper .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.free-trail .wrapper .btns a {
  color: #0000ac;
  background: #40e0bc;
  padding: 15px 20px;
  border-radius: 7px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.free-trail .wrapper .btns a:last-child {
  background: whitesmoke;
  border: none;
}

@media only screen and (min-width: 992px) {
  .free-trail {
    padding: 100px 0;
  }
  .free-trail .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .free-trail .wrapper .content {
    width: 50%;
  }
  .free-trail .wrapper .content .title {
    font-size: 2.5rem;
  }
  .free-trail .wrapper .btns a {
    margin: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .free-trail .wrapper .content .title {
    font-size: 3rem;
  }
}

.get-quote {
  padding: 50px 0;
}

.get-quote .wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
}

.get-quote .wrapper .card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
}

.get-quote .wrapper .card .title {
  font-size: 2rem;
  font-weight: bold;
}

.get-quote .wrapper .card .icon {
  font-size: 1.5rem;
  color: #4394ff;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid gray;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.get-quote .wrapper .card .card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 15px 0;
}

.get-quote .wrapper .card .description {
  font-size: 0.9rem;
  color: gray;
}

@media only screen and (min-width: 768px) {
  .get-quote .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .get-quote .wrapper .card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin: 20px;
  }
  .get-quote .wrapper .card .title {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .get-quote {
    padding: 100px 0;
  }
  .get-quote .wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */