.articles{
   padding : 50px 0;
  .title{
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Acme', sans-serif;
    margin-bottom: 20px;
  }
  .wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    .article-card{
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 20px;
      border: 1px solid rgb(224, 224, 224);
      border-radius: 10px;
      box-shadow: 0 0 3px rgb(182, 182, 182);
      margin: 20px 0;
       .article-img{
        height: 200px;
        border-radius: 10px;

      }
      .card-content{
        margin-top: 20px;
        .card-title{
          font-size: 1.1rem;
          font-weight: bold;
          line-height: 1.3;
        }
        .description{
          font-size: .9rem;
          color: gray;
          margin: 15px 0;

        }
        .author{
           font-size: .9rem;
           color: gray;
          span{
           color: blue;
          }
        }
      }
    } 

  }
}

@media only screen and (min-width: 768px){
  .articles{
    padding: 100px 0;
    .title{
      margin-bottom: 40px;
    }
    .wrapper{
      .article-card{
      flex-direction: row;
      align-items: center;
      .article-img{
        width: 150px;
        height: 150px;
        box-sizing: border-box;
      }
      .card-content{
        margin: 0;
        margin-left: 20px;
        width: 80%;
      }
    }
    }
  }
}

@media only screen and (min-width: 992px){
  .articles{
    .title{
      font-size: 2.5rem;

    }
   
  }
}