.banner{
  padding: 100px 0;
  background: map-get($map: $colors, $key: color1);
  position: relative;
  background: linear-gradient(to top,  map-get($map: $colors, $key: overlay-color) , rgba(255, 255, 255, 0.753)) ,url(../images/pexels-elly-fairytale-3807571.jpg) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  .wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
     .banner-content{
       .title{
      
         font-size: 2.6rem;
        font-weight: bold;
         text-transform: capitalize;
         margin-bottom: 30px;

       }
       .caption{
         font-size: 1.3rem;
       }
       .call-button{
         padding: 10px 20px;
         border-radius: 15px;
         background: map-get($map: $colors, $key: btn-color);
         margin-top: 20px;
         font-size: 1rem;
         display: block;
         width: fit-content;
         display: flex;
         align-items: center;
         color: black;
         font-weight: bold;
        box-shadow: 0 0 0px map-get($map: $colors, $key: btn-color);
         animation: bg-wave 1500ms ease;
         animation-iteration-count: infinite;
         

         i{
           font-size: 1.5rem;
           margin-right: 10px;
         }
       }
       @keyframes bg-wave{
         0%{
             box-shadow: 0 0 0  0px map-get($map: $colors, $key: btn-color);

         }
         50%{
             box-shadow: 0 0 0 10px transparent;
         }
         100%{
             box-shadow: 0 0 0  10px transparent;
         }
       }
     }
    .banner-img{
      margin-top: 50px;
      border-radius: 10px;
      overflow: hidden;
       img{
         width: 100%;

       }
    }
  }
  .wave{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.custom-shape-divider-bottom-1603101917 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1603101917 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 73px;
}

.custom-shape-divider-bottom-1603101917 .shape-fill {
    fill: #FFFFFF;
}

@media only screen and (min-width: 768px){
  .banner{
    .wrapper{
      .banner-content{
           width: 60%;
      }
     
    }
  }
}

@media only screen and (min-width: 992px){
  .banner{
    .wrapper{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .banner-img{
        margin: 0;
        width: 50%;
      }
      .banner-content{
        width: 40%;
        .caption{
          width: 300px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px){
  .banner{
    padding: 150px 0 200px;
    .wrapper{
    
      .banner-content{
        .title{
          font-size: 4rem;
        }
        .call-button{
          padding: 15px 35px;
          border-radius: 30px;
        }
      }
    }
  }
}