.services-two{
  padding: 50px 0;
  
  .title{
    font-size: 1.7rem;
  
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .wrapper{
     max-width: 1200px;
     display: flex;
     flex-direction: column;
     width: 90%;
     margin: 0 auto;
     .bg-cover-card{
       margin-bottom: 20px;
       width: 100%;
       cursor: pointer;
      
     }
     
  }
}

@media only screen and (min-width: 576px){
  .services-two{
    .wrapper{
      flex-direction: row;
      flex-wrap: wrap;
       justify-content: center;
      .bg-cover-card{
        width: 220px;
        margin: 20px;
        
      }
    }
  }
}

@media only screen and (min-width: 768px){
  .services-two{
    .title{
      font-size: 2.5rem;
    }
    .wrapper{
      flex-direction: row;
      flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       .bg-cover-card{
         margin: 20px;
         max-width: 240px;;
       }
    }
  }
}

@media only screen and (min-width: 992px){
  .services-two{
    .wrapper{
      max-width: 800px;
      .bg-cover-card{
        height: 280px;
       .post-title{
         font-size: 1.1rem;
       }
      }
    }
  }
}
